.recipe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-container img {
  width: 75%;
  height: auto;
  border-radius: 25px;
  box-shadow: 0 0 8px 8px white inset;
}

.recipe-container-btns-div {
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 65px;
  margin-top: 15px;
}

.title-div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.title-div h2 {
  padding-top: 6px;
  font-family: 'Recipety';
}


.veg-icon {
  align-self: center;
  color: green;
  margin-left: 5px;
  width: 25px;
}

.heart {
  width: 25%;
  align-self: center;
}

.btn {
  font-family: 'Recipety';
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  padding-top: 10px;
  width: 20%;
  height: 30px;
  background-color: #FFB0B0;
  box-shadow: 1px 2px #FE7171;
  border-radius: 15px;
  align-self: center;
  color: black;
}
