@font-face {
  font-family: 'Recipety';
  src:url('fonts/Recipety - Italic.woff') format('woff');
}

.App {
  text-align: center;
}

.heart {
  color: red;
}

@media only screen and (min-width: 850px) {
  body {
    margin: 0 auto;
    width: 850px;
  }

  .static-width {
    margin: 0 auto;
    width: 650px;
  }
}
